<h1>Sign Up Below:</h1>

<form action="/registrations" method="post"> 
<p> Enter Name: <input type="text" name="name"></p> 
<p> Enter Email: <input type="text" name="email"></p>
<p> Enter Password: <input type="password" name="password"></p>
<input type="submit" value="Sign Up" > 

</form> 








